@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.bg{

    background-color: #f44336;
    padding: 40px;
    h2{

        color:#fff;
        font: {
        
            family:'Dancing Script', cursive;
    
            size:50px;
        }
    }
    
}
